<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlarmConfigurator.Properties.Settings.PowerLogDBConnectionString"
            connectionString="Data Source=jure-pc\sqlexpress;Initial Catalog=PowerLogDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>